<!--
        Title: _footer.ejs
        Author: Jeremy Lates
        Original Author: Professor Krasso's class code examples are adapted to work with this page
        Date: 11/21/2023
        Description:  Footer for the site

        Programming cites

        1. Code adapted from 

    -->
<footer>
  <p>
    &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    Lates Consulting
  </p>
</footer>
