<!--
        Title: _header.ejs
        Author: Jeremy Lates
        Original Author: Professor Krasso's class code examples are adapted to work with this page
        Date: 11/21/2023
        Description:  Header for the site

        Programming cites

        1. Code adapted from 

    -->
<header class="header">
  <h1>Pets-R-Us</h1>
</header>
