<!--
        Title: _navigation.ejs
        Author: Jeremy Lates
        Original Author: Professor Krasso's class code examples are adapted to work with this page
        Date: 11/21/2023
        Description:  Navigation Bar used throughout the site

        Programming cites

        1. Code adapted from 

    -->
<section class="navbar">
  <a href="/" id="homeMenuItem">Home</a>
  <a href="/grooming" id="groomingMenuItem">Grooming</a>
  <a href="/boarding" id="boardingMenuItem">Boarding</a>
  <a href="/training" id="trainingMenuItem">Training</a>
  <a href="/registration" id="registrationMenuItem">Registration</a>
  <a href="/customers" id="customerMenuItem">Customers</a>
  <a href="/appointment" id="appointmentMenuItem">Appointments</a>
  <a href="/my-appointments" id="myAppointmentsMenuItem">My Appointments</a>
</section>
