<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pets-R-Us</title>

    <link href="/styles/site.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <!--
        Title: grooming.ejs
        Author: Jeremy Lates
        Date: 11/07/2023
        Description:

        Programming cites

        1. Code adapted from W3Schools hhttps://www.w3schools.com/html/html_tables.asp

      


    -->
  <body>
    <header class="header">
      <h1>Pets-R-Us: Grooming</h1>
      <p></p>
    </header>

    <section class="navbar">
      <a href="/">Home</a>
    </section>
    <section class="container">
      <div>
        <p>
          Pets are normally nervous when getting groomed. It is normal behavior.
          THe good news is, here at Pets-R-Us we are prepared for this. We like
          to greet all our pets with a treat for instance. This usually builds
          trust with the groomer and relaxes your pet. It is critical to have
          your pet groomed at least once a month. Pets can get fleas and ticks,
          which is a challenge to remove. We groom it all out here at Pets-R-Us.
          <br />
          First, We cut your pets hair. We use the same clippers that are used
          on humans. We find these clippers to give a nice clean cut. We then
          clip your pets nails. We do not clip too low as this can cause
          bleeding, however, we feel we cut them to the appropriate length. We
          next shampoo your pet with the best pet shampoo on the market. This is
          important for the skin of your pet. After shampooing your pet we brush
          out the hair that begins to shed. We dry your pets hair in the new
          state of the art pet hair dryer. It is a huge cage that has blowers on
          each side as well as the top. Drying your pet is time consuming an
          dour new dyer cuts the wait time for your dog in half. Last, we like
          to add a color on your pet certifying that your pet got pampered today
          and is all nice and groomed.
        </p>
      </div>
      <div>
        <table>
          <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Full Groom</td>
            <td>
              Includes shampoo, conditioner, blow dry, brush, haircut, nail
              trim, and ear cleaning.
            </td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Mini Groom</td>
            <td>
              Includes shampoo, conditioner, blow dry, brush, nail trim, ear
              cleaning, and a light tidy up around the face, feet, and sanitary
              areas. If you would like length taken off all over, please
              schedule a full grooming.
            </td>
            <td>$75</td>
          </tr>
          <tr>
            <td>Bath & Brush</td>
            <td>
              Includes shampoo, conditioner, blow dry, brush, nail trim, and ear
              cleaning.
            </td>
            <td>$50</td>
          </tr>
          <tr>
            <td>Nails & Trim</td>
            <td>Includes nail trim and ear cleaning.</td>
            <td>$25</td>
          </tr>
        </table>
      </div>
    </section>
    <footer>
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        - Jeremy Lates Consulting Firm
      </p>
    </footer>
  </body>
</html>
